xscreen-homelogin-phoneportrait {
  


#button:focus {     
    background-color:red;    
}
    
}
   .Customcolumn  {
    background-color: Calm;
}
      .notactive
    {
         color: #8a8a90;
    }
    .active
    {
        background-color: highlight;
    }
    .today
    {
         background-color: green;
    }