<ion-header data-comp-id="header.1">
    <ion-navbar color="black" data-comp-id="navbar.1" mode="ios" style="height: 100%;">
        <button (click)="go('home')" color="transparent" data-comp-id="button.1" icon-only ion-button mode="ios" style>
            <ion-icon class=" ion-ios-arrow-round-back-outline" color="primary" style="font-size: 34px; padding: 0px 16px;"></ion-icon>
        </button>
        <ion-title data-comp-id="title.1" mode="ios"></ion-title>
        <ion-buttons data-comp-id="buttons.1" end></ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="content-coal" data-comp-id="content.1" style>
    <div data-comp-id="div.1" style="padding: 16px;">
        <ion-title data-comp-id="title.2" mode="ios">
            <div data-comp-id="text.1" ion-text style="font-size: 34px; text-align: left; margin: 0 0 13px;" color="white">My Temperature</div>
        </ion-title>
        <!-- <ion-segment data-comp-id="segment.1" mode="ios">
                                                                                                                    <ion-segment-button data-comp-id="segment-button.1" style="display: flex; justify-content: center;">
                                                                                                                        <ion-icon style="font-size: 30px; margin: 1px 5px 0 0;" data-comp-id="icon.1" class=" ion-ios-list"></ion-icon>
                                                                                                                        List
                                                                                                                    </ion-segment-button>
                                                                                                                    <ion-segment-button data-comp-id="segment-button.2" style="display: flex; justify-content: center;">
                                                                                                                        <ion-icon style="font-size: 18px; margin: 2px 5px 0 0;" data-comp-id="icon.2" class=" fa fa-line-chart"></ion-icon>
                                                                                                                        Chart
                                                                                                                    </ion-segment-button>
                                                                                                                </ion-segment> -->
        <div ion-text data-comp-id="text.2" style="font-size: 18px; margin: 10px 0;" *ngIf="!data.temperatures.length">Temperatures not found</div>
        <ion-list data-comp-id="list.1" style="margin: 10px 0;" no-lines mode="ios" *ngIf="data.temperatures.length">
            <ion-item data-comp-id="item.1" color="medium" style="padding: 0px 0px 0px 22px; border-radius: 6px; margin: 0 0 6px;" mode="ios" no-lines *ngFor="let item of data.temperatures; let i = index">
                <div data-comp-id="div.2">
                    <div ion-text data-comp-id="text.3" style="font-size: 12px; opacity: 0.7; line-height: 22px;" color="white" [innerHTML]="item.date ? item.date : 'No date'"></div>
                    <div ion-text data-comp-id="text.4" style="font-size: 14px; line-height: 22px;">Temperature:
                        {{ item.value }}
                        °F</div>
                </div>
                <!-- <ion-icon data-comp-id="icon.3" class=" ion-ios-arrow-forward-outline" style="font-size: 20px; opacity: 0.7; padding: 4px 0; color: #d1d1d6;" color="white" item-end></ion-icon> -->
            </ion-item>
        </ion-list>
    </div>
</ion-content>