$colors: (
  primary: #009eff,
  secondary: #6cc04a,
  contrast: #1e428a,
  highlight: #6fc4e9,
  calm: #bad8eb,
  balanced: #dbd9d6,
  danger: #c84646,
  good: #ff9401,
  white: #fff,
  light: #f5f5f5,
  stable: #89898a,
  medium: #3b3b3c,
  dark: #3c3c3e,
  coal: #2c2c2e,
  black: #28282a,
  transparent: transparent
);
